* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #1abc9c;
}

.main{
    border: 1px solid black;
    padding: 30px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.image {
    width: 100%;
    padding: 20px;
}

.side {
    flex: 20%;
    background-color: #415A5A;
    padding: 20px;
}

.main{
    flex: 80%;
    background-color: #fff;
    padding: 20px;
}